<form>
  <fieldset>
    <legend>EVE Online API Key</legend>  
    <p><label for="keyID">Key ID</label><input id="keyID" type="text"></p>
    <p><label for="vCode">Verification Code</label><input id="vCode" type="text"></p>
  </fieldset>
  <fieldset>
    <legend>Account Security</legend>
    <p><label for="password">Password</label><input id="password" type="text"></p>
    <p><label for="passwordConfirm">Confirm Password</label><input id="passwordConfirm" type="text"></p>
  </fieldset>
  <fieldset>
    <label class="checkbox">
      <input type="checkbox" value="">
      I understand that my API Key may at some point in the future be used to protect {{corp.name}} from spying or sabotage.
    </label>
  </fieldset>
</form>