<!doctype html>
<html lang="en" ng-app="ECE">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EAZY-E</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div class="navbar navbar-fixed-top" ng-controller="NavBar">
    <div class="navbar-inner">
      <div class="container">
        <% if(igb.trusted === 'Yes') {%>
        <div class="pull-right nav-text">
          <span><%= igb.charName %></span>
          <img src="http://image.eveonline.com/character/<%= igb.charId %>_64.jpg" height="50" width="50">
        </div>
        <% } %>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#/">EAZY-E</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#/">Dashboard</a></li>
            <li><a href="#/wormholes">Wormholes</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div ng-view></div>
    <footer ng-controller="Footer">
      <p>Made by <a href="http://eveboard.com/pilot/Trygve_Reenskaug">Trygve Reenskaug</a></p>
    </footer>
  </div> <!-- /container -->

  <!--script type="text/html"-->
  <p>This is the data sent by your browser to EAZY-E.</p>
  <dl>
  <%
    for(var param in igb) {
  %>
    <dt><%= param %></dt>
    <dd><%= igb[param] %></dd>
  <%
    }
  %>
  </dl>
  <!--/script-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script-->
  <script type="text/javascript">
  window.jQuery || document.write('<script src="lib/jquery/jquery-1.10.2.min.js"><\/script>');
  </script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
